@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-raleway: var(--font-raleway);
  --font-roboto: var(--font-roboto);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-roboto), ui-sans-serif, system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway), sans-serif;
}